@import '../../../sass/vars';

.login-login{
    height: 150px;
    background: $fbBlue;
    color: $fbWhite;
    @include flex(column, flex-start, center);
    box-shadow: black 0px 0px 5px -1px;
    border-bottom: solid rgb(46, 94, 133) 1px;
}

.login-inputs{
    width: 250px;
    @include flex(row, space-between, center)
}

.l-in{
    height: 18px;
    width: 100px;
    font-size: 15px;
}

.login-button{
    @include border(none, 3px);
    margin-top: 18px;
    background: $fbBlue;
    box-shadow: black 0px 0px 4px -1px;
    color: $fbWhite;
    border: none;
    width: 70px;
    height: 25px;
    font-size: 18px;
}

.login-register{
    height: 450px;
    width: 330px;
    margin: auto;
    margin-top: 20px;
    @include border(none, 2px);
    @include flex(column, center, center);
    box-shadow: black 0px 0px 10px -7px;
}

.login-register-inputs{
    margin-top: 30px;
    margin-bottom: 50px;
    height: 200px;
    @include flex(column, space-between, center);
}

.lr-in{
    width: 250px;
    height: 28px;
    font-size: 20px;
}

.login-register-button{
    @include border(none, 3px);
    box-shadow: black 0px 0px 4px -1px;
    border: none;
    height: 30px;
    width: 90px;
    font-size: 20px;
    margin-bottom: 30px;
}